# Transform milliseconds to Date format

In [1]:
#Import libraries

import os
import sys
import numpy as np
import pandas as pd
import datetime

In [2]:
#Import Dataset
path = "C:/Users/Alifia/Downloads/date.csv"
df=pd.read_csv(path)
df.head()

    date_millis
0  1.604740e+12
1  1.599910e+12
2  1.601730e+12
3  1.602320e+12
4  1.598960e+12

In [3]:
import datetime

dat = []

for i in df.date_millis:
    dt= datetime.datetime.fromtimestamp(i / 1000)
    
    dat.append(dt)

In [11]:
date_update= pd.DataFrame(dat,columns=['date'])
date_update.head()

                 date
0 2020-11-07 20:06:40
1 2020-09-12 21:26:40
2 2020-10-03 23:00:00
3 2020-10-10 19:53:20
4 2020-09-01 21:33:20

# Transform 5 digit integer/timestamp to Date format

In [5]:
path1= "C:/Users/Alifia/Downloads/DATE_Integers.csv"
data=pd.read_csv(path1)
data.head()

    DATE
0  43390
1  43599
2  43605
3  43329
4  43330

In [12]:
# converting the integers to datetime format 

dat2 = []

for k in data.DATE:
    dt2= datetime.date(1899,12,30) + datetime.timedelta(k)
    
    dat2.append(dt2)
    
data_update= pd.DataFrame(dat2,columns=['DATE'])
data_update.head()

         DATE
0  2018-10-17
1  2019-05-14
2  2019-05-20
3  2018-08-17
4  2018-08-18